# DAT 402 Machine Learning Project 1

In [1]:
# Import packages

import pandas as pd
import numpy as np

In [2]:
# Install package to import data from UC Irvine if necessary

#pip install ucimlrepo

In [3]:
# The following is code from UC Irvine's website for importing their dataset

from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
#print(adult.metadata) 
  
# variable information 
#print(adult.variables)

In [4]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
dtypes: int64(6), object(8)
memory usage: 5.2+ MB

In [6]:
y.isna().sum()

income    0
dtype: int64

In [7]:
X.isna().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
dtype: int64

In [8]:
X.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
dtype: object

In [9]:
for col in X.select_dtypes(include=['object']):
    print(col, '\n', X[col].unique(), '\n')

workclass
 ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked' nan]

education
 ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']

marital-status
 ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']

occupation
 ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv' nan]

relationship
 ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']

race
 ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']

sex
 ['Male' 'Female']

native-country
 ['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands' nan]

In [10]:
for col in X.select_dtypes(include='object'):
    print(col, '\n', X[col].value_counts(), '\n')

workclass
 Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

education
 HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64

marital-status
 Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64

occupation
 Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
?                    1843
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

relationship
 Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64

race
 White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64

sex
 Male      32650
Female    16192
Name: sex, dtype: int64

native-country
 United-States                 43832
Mexico                          951
?                               583
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [11]:
for col in X.select_dtypes(include='object'):
    X[col].replace('?', np.nan, inplace = True)

/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [12]:
for col in X.select_dtypes(include='object'):
    print(col,'\n',X[col].value_counts(),'\n')

workclass
 Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

education
 HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64

marital-status
 Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64

occupation
 Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

relationship
 Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64

race
 White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64

sex
 Male      32650
Female    16192
Name: sex, dtype: int64

native-country
 United-States                 43832
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Nicaragua                        49
Greece                           49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [13]:
X.isna().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
dtype: int64

In [14]:
X.isnull().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
dtype: int64

In [40]:
X.loc[X['education-num'].isin(range(13, 16)), 'native-country'].value_counts()

United-States                 10257
Philippines                     130
India                            95
Germany                          63
China                            56
Mexico                           54
Canada                           52
England                          49
Japan                            42
Taiwan                           42
South                            41
Cuba                             34
Iran                             28
Italy                            22
Poland                           21
France                           18
Puerto-Rico                      18
Vietnam                          18
Jamaica                          14
El-Salvador                      12
Columbia                         11
Greece                           11
Hong                             11
Peru                             10
Dominican-Republic                9
Thailand                          9
Ireland                           9
Haiti                             8
Hungary                           8
Ecuador                           8
Nicaragua                         6
Scotland                          6
Outlying-US(Guam-USVI-etc)        5
Cambodia                          5
Laos                              4
Yugoslavia                        4
Honduras                          3
Portugal                          3
Trinadad&Tobago                   3
Guatemala                         3
Name: native-country, dtype: int64

In [42]:
len(X), len(X.dropna())

(48842, 45222)

In [46]:
cat_cols = X.select_dtypes(include='object').columns.tolist()

In [50]:
X_2 = X.copy()

In [49]:
from fancyimpute import KNN
from sklearn.preprocessing import OrdinalEncoder

In [51]:
#instantiate both packages to use
encoder = OrdinalEncoder()
imputer = KNN()

def encode(data):
    '''function to encode non-null data and replace it in the original data'''
    #retains only non-null values
    nonulls = np.array(data.dropna())
    #reshapes the data for encoding
    impute_reshape = nonulls.reshape(-1,1)
    #encode date
    impute_ordinal = encoder.fit_transform(impute_reshape)
    #Assign back encoded values to non-null values
    data.loc[data.notnull()] = np.squeeze(impute_ordinal)
    return data

#create a for loop to iterate through each column in the data
for columns in cat_cols:
    encode(X_2[columns])

/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/James/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [52]:
X_2

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,6,77516,9.0,13,4.0,0,1.0,4.0,1.0,2174,0,40,38
1,50,5,83311,9.0,13,2.0,3,0.0,4.0,1.0,0,0,13,38
2,38,3,215646,11.0,9,0.0,5,1.0,4.0,1.0,0,0,40,38
3,53,3,234721,1.0,7,2.0,5,0.0,2.0,1.0,0,0,40,38
4,28,3,338409,9.0,13,2.0,9,5.0,2.0,0.0,0,0,40,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,3,215419,9.0,13,0.0,9,1.0,4.0,0.0,0,0,36,38
48838,64,NaN,321403,11.0,9,6.0,NaN,2.0,2.0,1.0,0,0,40,38
48839,38,3,374983,9.0,13,2.0,9,0.0,4.0,1.0,0,0,50,38
48840,44,3,83891,9.0,13,0.0,0,3.0,1.0,1.0,5455,0,40,38
48841,35,4,182148,9.0,13,2.0,3,0.0,4.0,1.0,0,0,60,38

In [53]:
X_2.isna().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
dtype: int64

In [54]:
X_2_prepared = pd.DataFrame(np.round(imputer.fit_transform(X_2)), columns = X_2.columns)

Imputing row 1/48842 with 0 missing, elapsed time: 2154.282
Imputing row 101/48842 with 0 missing, elapsed time: 2155.904
Imputing row 201/48842 with 0 missing, elapsed time: 2156.259
Imputing row 301/48842 with 0 missing, elapsed time: 2156.535
Imputing row 401/48842 with 0 missing, elapsed time: 2156.764
Imputing row 501/48842 with 0 missing, elapsed time: 2157.116
Imputing row 601/48842 with 0 missing, elapsed time: 2157.265
Imputing row 701/48842 with 0 missing, elapsed time: 2157.309
Imputing row 801/48842 with 0 missing, elapsed time: 2157.352
Imputing row 901/48842 with 0 missing, elapsed time: 2157.386
Imputing row 1001/48842 with 0 missing, elapsed time: 2157.415
Imputing row 1101/48842 with 2 missing, elapsed time: 2157.451
Imputing row 1201/48842 with 0 missing, elapsed time: 2157.503
Imputing row 1301/48842 with 0 missing, elapsed time: 2157.546
Imputing row 1401/48842 with 0 missing, elapsed time: 2157.615
Imputing row 1501/48842 with 0 missing, elapsed time: 2157.648
Imputing row 1601/48842 with 0 missing, elapsed time: 2157.753
Imputing row 1701/48842 with 0 missing, elapsed time: 2157.783
Imputing row 1801/48842 with 0 missing, elapsed time: 2157.862
Imputing row 1901/48842 with 1 missing, elapsed time: 2157.914
Imputing row 2001/48842 with 0 missing, elapsed time: 2157.948
Imputing row 2101/48842 with 0 missing, elapsed time: 2158.002
Imputing row 2201/48842 with 0 missing, elapsed time: 2158.043
Imputing row 2301/48842 with 0 missing, elapsed time: 2158.078
Imputing row 2401/48842 with 0 missing, elapsed time: 2158.145
Imputing row 2501/48842 with 0 missing, elapsed time: 2158.192
Imputing row 2601/48842 with 0 missing, elapsed time: 2158.279
Imputing row 2701/48842 with 0 missing, elapsed time: 2158.346
Imputing row 2801/48842 with 0 missing, elapsed time: 2158.390
Imputing row 2901/48842 with 0 missing, elapsed time: 2158.411
Imputing row 3001/48842 with 0 missing, elapsed time: 2158.454
Imputing row 3101/48842 with 0 missing, elapsed time: 2158.511
Imputing row 3201/48842 with 1 missing, elapsed time: 2158.558
Imputing row 3301/48842 with 0 missing, elapsed time: 2158.631
Imputing row 3401/48842 with 0 missing, elapsed time: 2158.655
Imputing row 3501/48842 with 0 missing, elapsed time: 2158.699
Imputing row 3601/48842 with 0 missing, elapsed time: 2158.758
Imputing row 3701/48842 with 0 missing, elapsed time: 2158.773
Imputing row 3801/48842 with 0 missing, elapsed time: 2158.808
Imputing row 3901/48842 with 0 missing, elapsed time: 2158.858
Imputing row 4001/48842 with 0 missing, elapsed time: 2158.949
Imputing row 4101/48842 with 0 missing, elapsed time: 2159.089
Imputing row 4201/48842 with 2 missing, elapsed time: 2159.136
Imputing row 4301/48842 with 0 missing, elapsed time: 2163.370
Imputing row 4401/48842 with 0 missing, elapsed time: 2163.707
Imputing row 4501/48842 with 2 missing, elapsed time: 2164.107
Imputing row 4601/48842 with 0 missing, elapsed time: 2164.498
Imputing row 4701/48842 with 0 missing, elapsed time: 2164.820
Imputing row 4801/48842 with 0 missing, elapsed time: 2165.173
Imputing row 4901/48842 with 0 missing, elapsed time: 2165.371
Imputing row 5001/48842 with 0 missing, elapsed time: 2165.591
Imputing row 5101/48842 with 0 missing, elapsed time: 2165.655
Imputing row 5201/48842 with 0 missing, elapsed time: 2165.897
Imputing row 5301/48842 with 0 missing, elapsed time: 2166.211
Imputing row 5401/48842 with 0 missing, elapsed time: 2166.720
Imputing row 5501/48842 with 0 missing, elapsed time: 2166.948
Imputing row 5601/48842 with 0 missing, elapsed time: 2167.206
Imputing row 5701/48842 with 0 missing, elapsed time: 2167.489
Imputing row 5801/48842 with 0 missing, elapsed time: 2167.666
Imputing row 5901/48842 with 0 missing, elapsed time: 2167.799
Imputing row 6001/48842 with 0 missing, elapsed time: 2167.846
Imputing row 6101/48842 with 0 missing, elapsed time: 2167.879
Imputing row 6201/48842 with 0 missing, elapsed time: 2167.905
Imputing row 6301/48842 with 0 missing, elapsed time: 2167.922
Imputing row 6401/48842 with 0 missing, elapsed time: 2167.958
Imputing row 6501/48842 with 0 missing, elapsed time: 2167.974
Imputing row 6601/48842 with 0 missing, elapsed time: 2168.033
Imputing row 6701/48842 with 0 missing, elapsed time: 2168.062
Imputing row 6801/48842 with 0 missing, elapsed time: 2168.096
Imputing row 6901/48842 with 0 missing, elapsed time: 2168.129
Imputing row 7001/48842 with 0 missing, elapsed time: 2168.166
Imputing row 7101/48842 with 2 missing, elapsed time: 2168.205
Imputing row 7201/48842 with 0 missing, elapsed time: 2168.269
Imputing row 7301/48842 with 0 missing, elapsed time: 2168.286
Imputing row 7401/48842 with 0 missing, elapsed time: 2168.323
Imputing row 7501/48842 with 0 missing, elapsed time: 2168.344
Imputing row 7601/48842 with 0 missing, elapsed time: 2168.377
Imputing row 7701/48842 with 0 missing, elapsed time: 2168.406
Imputing row 7801/48842 with 0 missing, elapsed time: 2168.450
Imputing row 7901/48842 with 2 missing, elapsed time: 2168.492
Imputing row 8001/48842 with 0 missing, elapsed time: 2168.543
Imputing row 8101/48842 with 2 missing, elapsed time: 2168.600
Imputing row 8201/48842 with 0 missing, elapsed time: 2168.636
Imputing row 8301/48842 with 0 missing, elapsed time: 2168.674
Imputing row 8401/48842 with 0 missing, elapsed time: 2168.701
Imputing row 8501/48842 with 0 missing, elapsed time: 2168.740
Imputing row 8601/48842 with 0 missing, elapsed time: 2168.760
Imputing row 8701/48842 with 0 missing, elapsed time: 2168.791
Imputing row 8801/48842 with 0 missing, elapsed time: 2168.834
Imputing row 8901/48842 with 0 missing, elapsed time: 2168.858
Imputing row 9001/48842 with 0 missing, elapsed time: 2168.915
Imputing row 9101/48842 with 0 missing, elapsed time: 2168.937
Imputing row 9201/48842 with 0 missing, elapsed time: 2168.988
Imputing row 9301/48842 with 0 missing, elapsed time: 2169.017
Imputing row 9401/48842 with 0 missing, elapsed time: 2169.052
Imputing row 9501/48842 with 2 missing, elapsed time: 2169.080
Imputing row 9601/48842 with 0 missing, elapsed time: 2169.128
Imputing row 9701/48842 with 0 missing, elapsed time: 2169.162
Imputing row 9801/48842 with 0 missing, elapsed time: 2169.199
Imputing row 9901/48842 with 0 missing, elapsed time: 2169.224
Imputing row 10001/48842 with 0 missing, elapsed time: 2169.249
Imputing row 10101/48842 with 0 missing, elapsed time: 2169.295
Imputing row 10201/48842 with 0 missing, elapsed time: 2169.346
Imputing row 10301/48842 with 0 missing, elapsed time: 2169.371
Imputing row 10401/48842 with 0 missing, elapsed time: 2169.394
Imputing row 10501/48842 with 0 missing, elapsed time: 2169.443
Imputing row 10601/48842 with 0 missing, elapsed time: 2169.471
Imputing row 10701/48842 with 2 missing, elapsed time: 2169.505
Imputing row 10801/48842 with 0 missing, elapsed time: 2169.550
Imputing row 10901/48842 with 0 missing, elapsed time: 2169.591
Imputing row 11001/48842 with 0 missing, elapsed time: 2169.618
Imputing row 11101/48842 with 0 missing, elapsed time: 2169.662
Imputing row 11201/48842 with 0 missing, elapsed time: 2169.715
Imputing row 11301/48842 with 1 missing, elapsed time: 2169.768
Imputing row 11401/48842 with 0 missing, elapsed time: 2169.820
Imputing row 11501/48842 with 2 missing, elapsed time: 2169.874
Imputing row 11601/48842 with 0 missing, elapsed time: 2169.932
Imputing row 11701/48842 with 0 missing, elapsed time: 2169.972
Imputing row 11801/48842 with 0 missing, elapsed time: 2170.020
Imputing row 11901/48842 with 0 missing, elapsed time: 2170.032
Imputing row 12001/48842 with 0 missing, elapsed time: 2170.047
Imputing row 12101/48842 with 0 missing, elapsed time: 2170.090
Imputing row 12201/48842 with 0 missing, elapsed time: 2170.131
Imputing row 12301/48842 with 0 missing, elapsed time: 2170.168
Imputing row 12401/48842 with 0 missing, elapsed time: 2170.205
Imputing row 12501/48842 with 0 missing, elapsed time: 2170.257
Imputing row 12601/48842 with 0 missing, elapsed time: 2170.283
Imputing row 12701/48842 with 0 missing, elapsed time: 2170.327
Imputing row 12801/48842 with 0 missing, elapsed time: 2170.348
Imputing row 12901/48842 with 0 missing, elapsed time: 2170.373

Imputing row 13001/48842 with 0 missing, elapsed time: 2170.417
Imputing row 13101/48842 with 0 missing, elapsed time: 2170.461
Imputing row 13201/48842 with 0 missing, elapsed time: 2170.499
Imputing row 13301/48842 with 0 missing, elapsed time: 2170.531
Imputing row 13401/48842 with 0 missing, elapsed time: 2170.562
Imputing row 13501/48842 with 0 missing, elapsed time: 2170.584
Imputing row 13601/48842 with 0 missing, elapsed time: 2170.634
Imputing row 13701/48842 with 0 missing, elapsed time: 2170.663
Imputing row 13801/48842 with 0 missing, elapsed time: 2170.686
Imputing row 13901/48842 with 0 missing, elapsed time: 2170.728
Imputing row 14001/48842 with 0 missing, elapsed time: 2170.761
Imputing row 14101/48842 with 0 missing, elapsed time: 2170.792
Imputing row 14201/48842 with 0 missing, elapsed time: 2170.826
Imputing row 14301/48842 with 0 missing, elapsed time: 2170.888
Imputing row 14401/48842 with 0 missing, elapsed time: 2171.347
Imputing row 14501/48842 with 0 missing, elapsed time: 2171.818
Imputing row 14601/48842 with 0 missing, elapsed time: 2172.327
Imputing row 14701/48842 with 0 missing, elapsed time: 2172.621
Imputing row 14801/48842 with 0 missing, elapsed time: 2172.887
Imputing row 14901/48842 with 0 missing, elapsed time: 2173.035
Imputing row 15001/48842 with 0 missing, elapsed time: 2173.224
Imputing row 15101/48842 with 0 missing, elapsed time: 2173.477
Imputing row 15201/48842 with 0 missing, elapsed time: 2173.722
Imputing row 15301/48842 with 0 missing, elapsed time: 2173.954
Imputing row 15401/48842 with 0 missing, elapsed time: 2174.062
Imputing row 15501/48842 with 0 missing, elapsed time: 2174.393
Imputing row 15601/48842 with 0 missing, elapsed time: 2174.717
Imputing row 15701/48842 with 0 missing, elapsed time: 2175.038
Imputing row 15801/48842 with 0 missing, elapsed time: 2175.198
Imputing row 15901/48842 with 0 missing, elapsed time: 2175.333
Imputing row 16001/48842 with 0 missing, elapsed time: 2175.360
Imputing row 16101/48842 with 0 missing, elapsed time: 2175.392
Imputing row 16201/48842 with 0 missing, elapsed time: 2175.473
Imputing row 16301/48842 with 0 missing, elapsed time: 2175.511
Imputing row 16401/48842 with 0 missing, elapsed time: 2175.540
Imputing row 16501/48842 with 1 missing, elapsed time: 2175.585
Imputing row 16601/48842 with 0 missing, elapsed time: 2175.633
Imputing row 16701/48842 with 0 missing, elapsed time: 2175.664
Imputing row 16801/48842 with 0 missing, elapsed time: 2175.710
Imputing row 16901/48842 with 0 missing, elapsed time: 2175.751
Imputing row 17001/48842 with 0 missing, elapsed time: 2175.782
Imputing row 17101/48842 with 0 missing, elapsed time: 2175.809
Imputing row 17201/48842 with 0 missing, elapsed time: 2175.834
Imputing row 17301/48842 with 0 missing, elapsed time: 2175.872
Imputing row 17401/48842 with 0 missing, elapsed time: 2175.907
Imputing row 17501/48842 with 0 missing, elapsed time: 2175.945
Imputing row 17601/48842 with 0 missing, elapsed time: 2175.974
Imputing row 17701/48842 with 0 missing, elapsed time: 2176.001
Imputing row 17801/48842 with 0 missing, elapsed time: 2176.078
Imputing row 17901/48842 with 0 missing, elapsed time: 2176.107
Imputing row 18001/48842 with 0 missing, elapsed time: 2176.114
Imputing row 18101/48842 with 0 missing, elapsed time: 2176.166
Imputing row 18201/48842 with 0 missing, elapsed time: 2176.191
Imputing row 18301/48842 with 0 missing, elapsed time: 2176.242
Imputing row 18401/48842 with 0 missing, elapsed time: 2176.298
Imputing row 18501/48842 with 0 missing, elapsed time: 2176.341
Imputing row 18601/48842 with 2 missing, elapsed time: 2176.390
Imputing row 18701/48842 with 0 missing, elapsed time: 2176.428
Imputing row 18801/48842 with 0 missing, elapsed time: 2176.454
Imputing row 18901/48842 with 0 missing, elapsed time: 2176.466
Imputing row 19001/48842 with 0 missing, elapsed time: 2176.534
Imputing row 19101/48842 with 0 missing, elapsed time: 2176.570
Imputing row 19201/48842 with 0 missing, elapsed time: 2176.598
Imputing row 19301/48842 with 0 missing, elapsed time: 2176.672
Imputing row 19401/48842 with 0 missing, elapsed time: 2176.723
Imputing row 19501/48842 with 0 missing, elapsed time: 2176.757
Imputing row 19601/48842 with 0 missing, elapsed time: 2176.797
Imputing row 19701/48842 with 0 missing, elapsed time: 2176.850
Imputing row 19801/48842 with 0 missing, elapsed time: 2176.946
Imputing row 19901/48842 with 0 missing, elapsed time: 2177.006
Imputing row 20001/48842 with 0 missing, elapsed time: 2177.048
Imputing row 20101/48842 with 0 missing, elapsed time: 2180.610
Imputing row 20201/48842 with 0 missing, elapsed time: 2180.870
Imputing row 20301/48842 with 0 missing, elapsed time: 2181.260
Imputing row 20401/48842 with 0 missing, elapsed time: 2181.565
Imputing row 20501/48842 with 0 missing, elapsed time: 2181.876
Imputing row 20601/48842 with 0 missing, elapsed time: 2182.175
Imputing row 20701/48842 with 0 missing, elapsed time: 2182.499
Imputing row 20801/48842 with 0 missing, elapsed time: 2182.843
Imputing row 20901/48842 with 0 missing, elapsed time: 2183.104
Imputing row 21001/48842 with 0 missing, elapsed time: 2183.320
Imputing row 21101/48842 with 0 missing, elapsed time: 2183.433
Imputing row 21201/48842 with 0 missing, elapsed time: 2183.830
Imputing row 21301/48842 with 0 missing, elapsed time: 2183.959
Imputing row 21401/48842 with 0 missing, elapsed time: 2183.987
Imputing row 21501/48842 with 0 missing, elapsed time: 2184.045
Imputing row 21601/48842 with 0 missing, elapsed time: 2184.093
Imputing row 21701/48842 with 0 missing, elapsed time: 2184.128
Imputing row 21801/48842 with 0 missing, elapsed time: 2184.151
Imputing row 21901/48842 with 0 missing, elapsed time: 2184.194
Imputing row 22001/48842 with 0 missing, elapsed time: 2184.210
Imputing row 22101/48842 with 0 missing, elapsed time: 2184.256
Imputing row 22201/48842 with 0 missing, elapsed time: 2184.284
Imputing row 22301/48842 with 0 missing, elapsed time: 2184.312
Imputing row 22401/48842 with 0 missing, elapsed time: 2184.359
Imputing row 22501/48842 with 0 missing, elapsed time: 2184.391
Imputing row 22601/48842 with 0 missing, elapsed time: 2184.421
Imputing row 22701/48842 with 0 missing, elapsed time: 2184.444
Imputing row 22801/48842 with 0 missing, elapsed time: 2184.494
Imputing row 22901/48842 with 0 missing, elapsed time: 2184.529
Imputing row 23001/48842 with 0 missing, elapsed time: 2184.569
Imputing row 23101/48842 with 0 missing, elapsed time: 2184.595
Imputing row 23201/48842 with 0 missing, elapsed time: 2184.634
Imputing row 23301/48842 with 0 missing, elapsed time: 2184.672
Imputing row 23401/48842 with 0 missing, elapsed time: 2184.724
Imputing row 23501/48842 with 0 missing, elapsed time: 2184.759
Imputing row 23601/48842 with 0 missing, elapsed time: 2184.796
Imputing row 23701/48842 with 0 missing, elapsed time: 2184.817
Imputing row 23801/48842 with 0 missing, elapsed time: 2184.867
Imputing row 23901/48842 with 0 missing, elapsed time: 2184.908
Imputing row 24001/48842 with 0 missing, elapsed time: 2184.943
Imputing row 24101/48842 with 0 missing, elapsed time: 2184.977
Imputing row 24201/48842 with 0 missing, elapsed time: 2185.012
Imputing row 24301/48842 with 0 missing, elapsed time: 2185.045
Imputing row 24401/48842 with 0 missing, elapsed time: 2185.067
Imputing row 24501/48842 with 0 missing, elapsed time: 2185.111
Imputing row 24601/48842 with 0 missing, elapsed time: 2185.162
Imputing row 24701/48842 with 0 missing, elapsed time: 2185.200
Imputing row 24801/48842 with 0 missing, elapsed time: 2185.254
Imputing row 24901/48842 with 0 missing, elapsed time: 2185.297
Imputing row 25001/48842 with 0 missing, elapsed time: 2185.334
Imputing row 25101/48842 with 0 missing, elapsed time: 2185.382
Imputing row 25201/48842 with 0 missing, elapsed time: 2185.414
Imputing row 25301/48842 with 0 missing, elapsed time: 2185.468
Imputing row 25401/48842 with 0 missing, elapsed time: 2185.499
Imputing row 25501/48842 with 0 missing, elapsed time: 2185.535
Imputing row 25601/48842 with 0 missing, elapsed time: 2185.580
Imputing row 25701/48842 with 0 missing, elapsed time: 2185.608
Imputing row 25801/48842 with 0 missing, elapsed time: 2185.641
Imputing row 25901/48842 with 0 missing, elapsed time: 2185.694
Imputing row 26001/48842 with 0 missing, elapsed time: 2185.724
Imputing row 26101/48842 with 0 missing, elapsed time: 2185.752
Imputing row 26201/48842 with 0 missing, elapsed time: 2185.786

Imputing row 26301/48842 with 0 missing, elapsed time: 2185.826
Imputing row 26401/48842 with 0 missing, elapsed time: 2185.866
Imputing row 26501/48842 with 0 missing, elapsed time: 2185.902
Imputing row 26601/48842 with 0 missing, elapsed time: 2185.946
Imputing row 26701/48842 with 0 missing, elapsed time: 2185.973
Imputing row 26801/48842 with 1 missing, elapsed time: 2185.990
Imputing row 26901/48842 with 1 missing, elapsed time: 2186.003
Imputing row 27001/48842 with 0 missing, elapsed time: 2186.065
Imputing row 27101/48842 with 2 missing, elapsed time: 2186.119
Imputing row 27201/48842 with 0 missing, elapsed time: 2186.156
Imputing row 27301/48842 with 0 missing, elapsed time: 2186.183
Imputing row 27401/48842 with 0 missing, elapsed time: 2186.229
Imputing row 27501/48842 with 0 missing, elapsed time: 2186.255
Imputing row 27601/48842 with 0 missing, elapsed time: 2186.324
Imputing row 27701/48842 with 0 missing, elapsed time: 2186.362
Imputing row 27801/48842 with 0 missing, elapsed time: 2186.398
Imputing row 27901/48842 with 0 missing, elapsed time: 2186.419
Imputing row 28001/48842 with 0 missing, elapsed time: 2186.446
Imputing row 28101/48842 with 0 missing, elapsed time: 2186.474
Imputing row 28201/48842 with 0 missing, elapsed time: 2186.542
Imputing row 28301/48842 with 0 missing, elapsed time: 2186.576
Imputing row 28401/48842 with 0 missing, elapsed time: 2186.619
Imputing row 28501/48842 with 1 missing, elapsed time: 2186.646
Imputing row 28601/48842 with 0 missing, elapsed time: 2186.684
Imputing row 28701/48842 with 0 missing, elapsed time: 2186.713
Imputing row 28801/48842 with 0 missing, elapsed time: 2186.743
Imputing row 28901/48842 with 0 missing, elapsed time: 2186.805
Imputing row 29001/48842 with 0 missing, elapsed time: 2186.860
Imputing row 29101/48842 with 0 missing, elapsed time: 2186.911
Imputing row 29201/48842 with 0 missing, elapsed time: 2186.935
Imputing row 29301/48842 with 0 missing, elapsed time: 2186.974
Imputing row 29401/48842 with 0 missing, elapsed time: 2187.044
Imputing row 29501/48842 with 0 missing, elapsed time: 2189.344
Imputing row 29601/48842 with 0 missing, elapsed time: 2190.566
Imputing row 29701/48842 with 0 missing, elapsed time: 2190.832
Imputing row 29801/48842 with 0 missing, elapsed time: 2191.203
Imputing row 29901/48842 with 0 missing, elapsed time: 2191.496
Imputing row 30001/48842 with 0 missing, elapsed time: 2191.690
Imputing row 30101/48842 with 0 missing, elapsed time: 2191.947
Imputing row 30201/48842 with 0 missing, elapsed time: 2192.269
Imputing row 30301/48842 with 0 missing, elapsed time: 2192.620
Imputing row 30401/48842 with 0 missing, elapsed time: 2192.899
Imputing row 30501/48842 with 0 missing, elapsed time: 2193.137
Imputing row 30601/48842 with 0 missing, elapsed time: 2193.330
Imputing row 30701/48842 with 1 missing, elapsed time: 2193.818
Imputing row 30801/48842 with 0 missing, elapsed time: 2194.178
Imputing row 30901/48842 with 0 missing, elapsed time: 2194.301
Imputing row 31001/48842 with 0 missing, elapsed time: 2194.473
Imputing row 31101/48842 with 0 missing, elapsed time: 2194.556
Imputing row 31201/48842 with 0 missing, elapsed time: 2194.604
Imputing row 31301/48842 with 0 missing, elapsed time: 2194.645
Imputing row 31401/48842 with 0 missing, elapsed time: 2194.684
Imputing row 31501/48842 with 0 missing, elapsed time: 2194.699
Imputing row 31601/48842 with 0 missing, elapsed time: 2194.739
Imputing row 31701/48842 with 0 missing, elapsed time: 2194.786
Imputing row 31801/48842 with 0 missing, elapsed time: 2194.855
Imputing row 31901/48842 with 0 missing, elapsed time: 2194.884
Imputing row 32001/48842 with 0 missing, elapsed time: 2194.911
Imputing row 32101/48842 with 0 missing, elapsed time: 2195.032
Imputing row 32201/48842 with 0 missing, elapsed time: 2195.049
Imputing row 32301/48842 with 0 missing, elapsed time: 2195.084
Imputing row 32401/48842 with 0 missing, elapsed time: 2195.115
Imputing row 32501/48842 with 0 missing, elapsed time: 2195.152
Imputing row 32601/48842 with 0 missing, elapsed time: 2195.205
Imputing row 32701/48842 with 0 missing, elapsed time: 2195.236
Imputing row 32801/48842 with 0 missing, elapsed time: 2195.264
Imputing row 32901/48842 with 0 missing, elapsed time: 2195.313
Imputing row 33001/48842 with 0 missing, elapsed time: 2195.363
Imputing row 33101/48842 with 0 missing, elapsed time: 2195.393
Imputing row 33201/48842 with 0 missing, elapsed time: 2195.423
Imputing row 33301/48842 with 0 missing, elapsed time: 2195.489
Imputing row 33401/48842 with 0 missing, elapsed time: 2195.515
Imputing row 33501/48842 with 0 missing, elapsed time: 2195.550
Imputing row 33601/48842 with 0 missing, elapsed time: 2195.604
Imputing row 33701/48842 with 0 missing, elapsed time: 2195.638
Imputing row 33801/48842 with 0 missing, elapsed time: 2195.677
Imputing row 33901/48842 with 0 missing, elapsed time: 2195.719
Imputing row 34001/48842 with 0 missing, elapsed time: 2195.783
Imputing row 34101/48842 with 0 missing, elapsed time: 2195.810
Imputing row 34201/48842 with 0 missing, elapsed time: 2195.848
Imputing row 34301/48842 with 0 missing, elapsed time: 2195.877
Imputing row 34401/48842 with 0 missing, elapsed time: 2195.954
Imputing row 34501/48842 with 2 missing, elapsed time: 2195.969
Imputing row 34601/48842 with 0 missing, elapsed time: 2195.995
Imputing row 34701/48842 with 0 missing, elapsed time: 2196.038
Imputing row 34801/48842 with 0 missing, elapsed time: 2196.062
Imputing row 34901/48842 with 0 missing, elapsed time: 2196.095
Imputing row 35001/48842 with 0 missing, elapsed time: 2196.122
Imputing row 35101/48842 with 2 missing, elapsed time: 2196.167
Imputing row 35201/48842 with 0 missing, elapsed time: 2196.222
Imputing row 35301/48842 with 0 missing, elapsed time: 2196.260
Imputing row 35401/48842 with 0 missing, elapsed time: 2196.295
Imputing row 35501/48842 with 0 missing, elapsed time: 2196.319
Imputing row 35601/48842 with 0 missing, elapsed time: 2196.369
Imputing row 35701/48842 with 0 missing, elapsed time: 2196.422
Imputing row 35801/48842 with 0 missing, elapsed time: 2196.477
Imputing row 35901/48842 with 0 missing, elapsed time: 2196.504
Imputing row 36001/48842 with 1 missing, elapsed time: 2196.527
Imputing row 36101/48842 with 0 missing, elapsed time: 2196.555
Imputing row 36201/48842 with 0 missing, elapsed time: 2196.572
Imputing row 36301/48842 with 0 missing, elapsed time: 2196.605
Imputing row 36401/48842 with 0 missing, elapsed time: 2196.630
Imputing row 36501/48842 with 0 missing, elapsed time: 2196.657
Imputing row 36601/48842 with 0 missing, elapsed time: 2196.693
Imputing row 36701/48842 with 0 missing, elapsed time: 2196.736
Imputing row 36801/48842 with 0 missing, elapsed time: 2196.782
Imputing row 36901/48842 with 0 missing, elapsed time: 2196.834
Imputing row 37001/48842 with 0 missing, elapsed time: 2196.848
Imputing row 37101/48842 with 1 missing, elapsed time: 2196.875
Imputing row 37201/48842 with 0 missing, elapsed time: 2196.915
Imputing row 37301/48842 with 0 missing, elapsed time: 2196.963
Imputing row 37401/48842 with 0 missing, elapsed time: 2197.017
Imputing row 37501/48842 with 0 missing, elapsed time: 2197.082
Imputing row 37601/48842 with 0 missing, elapsed time: 2197.117
Imputing row 37701/48842 with 0 missing, elapsed time: 2197.164
Imputing row 37801/48842 with 0 missing, elapsed time: 2197.207
Imputing row 37901/48842 with 0 missing, elapsed time: 2197.231
Imputing row 38001/48842 with 0 missing, elapsed time: 2197.281
Imputing row 38101/48842 with 0 missing, elapsed time: 2197.333
Imputing row 38201/48842 with 0 missing, elapsed time: 2197.362
Imputing row 38301/48842 with 0 missing, elapsed time: 2197.430
Imputing row 38401/48842 with 0 missing, elapsed time: 2197.480
Imputing row 38501/48842 with 0 missing, elapsed time: 2197.523
Imputing row 38601/48842 with 0 missing, elapsed time: 2197.563
Imputing row 38701/48842 with 0 missing, elapsed time: 2197.614
Imputing row 38801/48842 with 0 missing, elapsed time: 2197.664
Imputing row 38901/48842 with 0 missing, elapsed time: 2197.688
Imputing row 39001/48842 with 0 missing, elapsed time: 2197.720
Imputing row 39101/48842 with 0 missing, elapsed time: 2197.744

Imputing row 39201/48842 with 0 missing, elapsed time: 2197.784
Imputing row 39301/48842 with 0 missing, elapsed time: 2197.814
Imputing row 39401/48842 with 2 missing, elapsed time: 2197.863
Imputing row 39501/48842 with 0 missing, elapsed time: 2197.908
Imputing row 39601/48842 with 0 missing, elapsed time: 2197.928
Imputing row 39701/48842 with 0 missing, elapsed time: 2198.209
Imputing row 39801/48842 with 0 missing, elapsed time: 2198.629
Imputing row 39901/48842 with 0 missing, elapsed time: 2198.924
Imputing row 40001/48842 with 0 missing, elapsed time: 2199.150
Imputing row 40101/48842 with 2 missing, elapsed time: 2199.392
Imputing row 40201/48842 with 0 missing, elapsed time: 2199.706
Imputing row 40301/48842 with 0 missing, elapsed time: 2200.020
Imputing row 40401/48842 with 0 missing, elapsed time: 2200.296
Imputing row 40501/48842 with 0 missing, elapsed time: 2200.537
Imputing row 40601/48842 with 0 missing, elapsed time: 2200.725
Imputing row 40701/48842 with 0 missing, elapsed time: 2200.976
Imputing row 40801/48842 with 0 missing, elapsed time: 2201.306
Imputing row 40901/48842 with 0 missing, elapsed time: 2201.525
Imputing row 41001/48842 with 0 missing, elapsed time: 2201.696
Imputing row 41101/48842 with 0 missing, elapsed time: 2201.696
Imputing row 41201/48842 with 0 missing, elapsed time: 2201.871
Imputing row 41301/48842 with 0 missing, elapsed time: 2201.945
Imputing row 41401/48842 with 2 missing, elapsed time: 2201.992
Imputing row 41501/48842 with 0 missing, elapsed time: 2202.038
Imputing row 41601/48842 with 0 missing, elapsed time: 2202.066
Imputing row 41701/48842 with 0 missing, elapsed time: 2202.112
Imputing row 41801/48842 with 1 missing, elapsed time: 2202.136
Imputing row 41901/48842 with 1 missing, elapsed time: 2202.196
Imputing row 42001/48842 with 0 missing, elapsed time: 2202.254
Imputing row 42101/48842 with 0 missing, elapsed time: 2202.282
Imputing row 42201/48842 with 0 missing, elapsed time: 2202.344
Imputing row 42301/48842 with 1 missing, elapsed time: 2202.377
Imputing row 42401/48842 with 0 missing, elapsed time: 2202.417
Imputing row 42501/48842 with 0 missing, elapsed time: 2202.445
Imputing row 42601/48842 with 0 missing, elapsed time: 2202.474
Imputing row 42701/48842 with 0 missing, elapsed time: 2202.515
Imputing row 42801/48842 with 0 missing, elapsed time: 2202.556
Imputing row 42901/48842 with 0 missing, elapsed time: 2202.609
Imputing row 43001/48842 with 0 missing, elapsed time: 2202.643
Imputing row 43101/48842 with 2 missing, elapsed time: 2202.658
Imputing row 43201/48842 with 0 missing, elapsed time: 2202.695
Imputing row 43301/48842 with 0 missing, elapsed time: 2202.732
Imputing row 43401/48842 with 0 missing, elapsed time: 2202.758
Imputing row 43501/48842 with 0 missing, elapsed time: 2202.803
Imputing row 43601/48842 with 0 missing, elapsed time: 2202.825
Imputing row 43701/48842 with 0 missing, elapsed time: 2202.847
Imputing row 43801/48842 with 0 missing, elapsed time: 2202.864
Imputing row 43901/48842 with 0 missing, elapsed time: 2202.888
Imputing row 44001/48842 with 0 missing, elapsed time: 2202.921
Imputing row 44101/48842 with 0 missing, elapsed time: 2202.941
Imputing row 44201/48842 with 0 missing, elapsed time: 2202.969
Imputing row 44301/48842 with 0 missing, elapsed time: 2203.002
Imputing row 44401/48842 with 0 missing, elapsed time: 2203.030
Imputing row 44501/48842 with 2 missing, elapsed time: 2203.069
Imputing row 44601/48842 with 0 missing, elapsed time: 2203.134
Imputing row 44701/48842 with 0 missing, elapsed time: 2203.152
Imputing row 44801/48842 with 0 missing, elapsed time: 2203.180
Imputing row 44901/48842 with 0 missing, elapsed time: 2203.213
Imputing row 45001/48842 with 0 missing, elapsed time: 2203.289
Imputing row 45101/48842 with 0 missing, elapsed time: 2203.310
Imputing row 45201/48842 with 0 missing, elapsed time: 2203.351
Imputing row 45301/48842 with 0 missing, elapsed time: 2203.380
Imputing row 45401/48842 with 2 missing, elapsed time: 2203.411
Imputing row 45501/48842 with 0 missing, elapsed time: 2203.473
Imputing row 45601/48842 with 0 missing, elapsed time: 2203.492
Imputing row 45701/48842 with 0 missing, elapsed time: 2203.543
Imputing row 45801/48842 with 0 missing, elapsed time: 2203.578
Imputing row 45901/48842 with 0 missing, elapsed time: 2203.630
Imputing row 46001/48842 with 2 missing, elapsed time: 2203.672
Imputing row 46101/48842 with 0 missing, elapsed time: 2203.720
Imputing row 46201/48842 with 0 missing, elapsed time: 2203.760
Imputing row 46301/48842 with 0 missing, elapsed time: 2203.788
Imputing row 46401/48842 with 0 missing, elapsed time: 2203.856
Imputing row 46501/48842 with 0 missing, elapsed time: 2203.905
Imputing row 46601/48842 with 0 missing, elapsed time: 2203.965
Imputing row 46701/48842 with 0 missing, elapsed time: 2203.994
Imputing row 46801/48842 with 2 missing, elapsed time: 2204.025
Imputing row 46901/48842 with 0 missing, elapsed time: 2204.063
Imputing row 47001/48842 with 0 missing, elapsed time: 2204.098
Imputing row 47101/48842 with 0 missing, elapsed time: 2204.141
Imputing row 47201/48842 with 0 missing, elapsed time: 2204.195
Imputing row 47301/48842 with 0 missing, elapsed time: 2204.261
Imputing row 47401/48842 with 0 missing, elapsed time: 2204.296
Imputing row 47501/48842 with 0 missing, elapsed time: 2204.326
Imputing row 47601/48842 with 0 missing, elapsed time: 2204.365
Imputing row 47701/48842 with 0 missing, elapsed time: 2204.396
Imputing row 47801/48842 with 0 missing, elapsed time: 2204.460
Imputing row 47901/48842 with 0 missing, elapsed time: 2204.531
Imputing row 48001/48842 with 0 missing, elapsed time: 2204.575
Imputing row 48101/48842 with 0 missing, elapsed time: 2204.612
Imputing row 48201/48842 with 0 missing, elapsed time: 2204.651
Imputing row 48301/48842 with 0 missing, elapsed time: 2204.687
Imputing row 48401/48842 with 2 missing, elapsed time: 2204.748
Imputing row 48501/48842 with 0 missing, elapsed time: 2204.806
Imputing row 48601/48842 with 0 missing, elapsed time: 2204.845
Imputing row 48701/48842 with 0 missing, elapsed time: 2204.865
Imputing row 48801/48842 with 2 missing, elapsed time: 2204.870

In [56]:
X_2_prepared

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39.0,6.0,77516.0,9.0,13.0,4.0,0.0,1.0,4.0,1.0,2174.0,0.0,40.0,38.0
1,50.0,5.0,83311.0,9.0,13.0,2.0,3.0,0.0,4.0,1.0,0.0,0.0,13.0,38.0
2,38.0,3.0,215646.0,11.0,9.0,0.0,5.0,1.0,4.0,1.0,0.0,0.0,40.0,38.0
3,53.0,3.0,234721.0,1.0,7.0,2.0,5.0,0.0,2.0,1.0,0.0,0.0,40.0,38.0
4,28.0,3.0,338409.0,9.0,13.0,2.0,9.0,5.0,2.0,0.0,0.0,0.0,40.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39.0,3.0,215419.0,9.0,13.0,0.0,9.0,1.0,4.0,0.0,0.0,0.0,36.0,38.0
48838,64.0,3.0,321403.0,11.0,9.0,6.0,4.0,2.0,2.0,1.0,0.0,0.0,40.0,38.0
48839,38.0,3.0,374983.0,9.0,13.0,2.0,9.0,0.0,4.0,1.0,0.0,0.0,50.0,38.0
48840,44.0,3.0,83891.0,9.0,13.0,0.0,0.0,3.0,1.0,1.0,5455.0,0.0,40.0,38.0
48841,35.0,4.0,182148.0,9.0,13.0,2.0,3.0,0.0,4.0,1.0,0.0,0.0,60.0,38.0

In [57]:
X_2_prepared.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
dtype: int64

In [58]:
X_2_prepared['occupation'].value_counts()

9.0     6378
3.0     6319
2.0     6237
0.0     5628
11.0    5551
7.0     5368
6.0     3472
5.0     2525
13.0    2361
4.0     1846
12.0    1454
10.0    1111
8.0      521
1.0       71
Name: occupation, dtype: int64

In [59]:
X['occupation'].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64